*{
    margin: 0;
    padding: 0;
    background-color: #00171f;
    line-height: 1.5;
    box-sizing: border-box;
    color: white;
    /* #10101a; */
}

h1{
    font-size: 40px;
}


header{
    position: fixed;
    z-index: 17;
    margin-top: -27px;
    width: 95%;
    /* margin: auto; */
}
.navbar{
    /* border: 1px solid blue; */
    background-color: #172834;
    display: flex;
    justify-content: space-between;
    width: 105%;
    margin-top: 20px;
    padding: 2%;
    font-size: larger;
    
}
.container{
    /* border: 2px solid red; */
    position:absolute;
    top: 100px;
    /* bottom: 100px; */
    margin: auto;
    min-height: calc(100vh - 84.06px - 82.81px);
}
.navbar>div>a{
    background-color: #172834;
    text-decoration: none;
    /* color: white; */
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 11px;
    border-radius: 5px;
    /* border: 1.5px dashed #d7bec3; */
    border-top: none;
    border-right: none;
    border-left: none;
}
.navbar>div>a:hover{
    background-color: #e2fbff ;
    color: #1c1f47;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.top{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    
}
.intro{
    /* border: 1px solid green; */
    padding: 2%;
}
.intro>h2{
    font-size: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color:wheat; */
    padding: 10px;
}
.tru{
    color: #455963;
    /*#c6dceb*/
}
.img{
    /* border: 2px solid violet; */
    /* border-radius: 50%; */
    padding: 1%;
}
.img>img{
    height: 305px;
    width: 300px;
    border-radius: 50%;
    padding: 2%;
}
.resume{
    /* border: 1px solid yellow; */
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: black;
    background-color: #e2fbff;
    border-radius: 7px;
    width: 20%;
    height: 55px;
    display: flex;
    justify-content: space-around;
}
.r{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    /* border: 1px solid red; */
}
#rr{
    color: #1c1f47;
    background-color: #e2fbff;
    border: 7px solid #e2fbff;
    
}
#about{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.about{
    /* border: 1px solid wheat; */
    padding: 30px;
    color: #4c4a4a;
    font-family:sans-serif;
    width: 40%;
    margin: auto;
    margin-top: 7%;
    text-align: center;
    word-spacing: 5px;
    float: left;
    margin-left: 2%;
    margin-bottom: 5%;
    /* line-height: 28px; */
}
#gif{
    margin-top: 15%;
    /* height: 50%; */
    width: 55%;
    /* border: 1px solid red; */
    border-radius: 40px;
    margin-left: 30%;
    margin-top: 15%;
}
.hr{
    width: 50%;
    margin: auto;
    border: 2px solid;
}
#copy{
    color: #e2fbff;
    cursor: pointer;
}

.project{
    /* border: 1px solid wheat; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    width: 85%;
    margin: auto;
    padding: 30px;
    font-family:sans-serif;
    margin-top: 10%;
}
.h1{
    /* color: white; */
    font-family:sans-serif;
    text-align: center;
    padding: 20px;
    margin-top: 10%;
    margin-left: 85%;
}

.p1,.p2,.p3{
    /* color: wheat; */
    /* border: 1px solid red; */
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
    padding: 20px;
}
.p1>div,.p2>div,.p3>div{
    /* border: 1px solid wheat; */
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 15px;
}
.p1>div>a,.p2>div>a,.p3>div>a{
    text-decoration: none;
    color: black;
    background-color: #e2fbff;
    border-radius: 15px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
}
.p1>div>a>span>i,.p2>div>a>span>i,.p3>div>a>span>i{
    background-color: #e2fbff;
    color: black;
}
.p3>div>a>span>img{
    background-color: #e2fbff;
    color: #4c4a4a;
}
.p1>img,.p2>img,.p3>img{
    height: 250px;
    width: 400px;
    border-radius: 20px;
    margin-bottom: 20px;
}
#ic{
    font-size: 31px;
    padding: 5px;
    color: white;
}
#icc{
    width: 25px;
    height: 25px;
    margin-bottom: -5px;
    background-color: #f0f3f3;
    border-radius: 5px;
    /* background: none; */
    /* border: 2px solid red; */
}
#ic:hover{
    font-size: 0;
}
#icc:hover{
    font-size: 0;
    cursor: pointer;
}
#ic:hover::after{
    content: attr(data-hover);
    font-size: 11px;
    line-height: 10px;
    font-weight: normal;
    border-radius: 8px;
    background-color:white;
    padding: 5px;
    color: black;
    border: 3px solid #f0f3f3;
}
#icc:hover::after{
    content: attr(data-hover);
    font-size: 11px;
    line-height: 10px;
    font-weight: normal;
    border-radius: 8px;
    background-color:#d7bec3;
    padding: 5px;
    color: black;
    border: 3px solid #f0f3f3;
}
.h4{
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border: 1px solid red; */
    text-align: center;
    padding: 10px;
}
.h4:hover{
    background-color: #e2fbff ;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 8px;
    margin: auto;
    width: 30%;
}
.skills{
    /* border: 1px solid wheat; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    width: 60%;
    margin: auto;
    padding: 30px;
    /* margin-top: 10%; */

}
.h2{
    /* color: white; */
    font-family:sans-serif;
    text-align: center;
    padding: 20px;
    margin-top: 10%;
}
.skills>div{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
.skills>div>p{
    /* color: white; */
    font-family: sans-serif;
    font-weight: bold;
    margin: auto;
}
.skills>div>img{
    height: 100px;
    width: 120px;
}

.gitS{
    /* border: 1px solid red; */
    padding: 45px;
    margin-top: 60px;
}
.gitS>img{
    margin-top: 30px;
    margin-left: 320px;
    width: 50%;
}

.contact{
    /* border: 1px solid wheat; */
    margin-top: 12%;
    margin-bottom: 12%;
    text-align: center;
    font-family: sans-serif;
    padding: 30px;
}
.contact>h1,h3{
    padding: 20px;
}
.contact>div{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    padding: 40px;
}
.contact>div>a>i{
    font-size: 50px;
    color: #e2fbff;
}
.contact>div>a>i:hover{
    font-size: 60px;
    color: white;
}

.calendar{
    width: 95%;
}


footer{
    /* border: 2px solid yellow; */
    /* top: 85.5%; */
    position: fixed;
    /* width: 100%;   */
    visibility: hidden;
    
}
/* .footer-links>ul{
    border: 2px solid orangered;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    padding: 1%;
}
.footer-links>ul>li{
    list-style: none;
}
.footer-items>a>img{
    height: 50px;
    width: 50px;
}
.footer-items>a{
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

@media only screen and  (max-width: 650px){

    header{
       display: none;
    }

    footer{
        /* border: 2px solid yellow; */
        top: 90%;
        position: fixed;
        width: 100%;  
        visibility: visible;
        /* padding: -80px; */
        
        
    }
    .footer-links>ul{
        /* border: 2px solid orangered; */
        display: grid;
        grid-template-columns: repeat(5,1fr);
        text-align: center;
        justify-items: center;
        padding: 1%;
        
    }
    .footer-links>ul>li{
        list-style: none;
    }
    .footer-items>a>img{
        height: 28.7px;
        width: 35px;
    }
    .footer-items>a{
        /* border: 2px solid red; */
        text-decoration: none;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* gap: 5px; */
        
    }

    .container{
        /* border: 2px solid red; */
        position:absolute;
        top: 100px;
        margin: auto;
        width: 99%;
    }

    
    
    .top{
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* margin-top: 2%; */
        width: 100%;
        margin: auto;
    }
    .img{
        
        margin: auto;
        padding: 2%;
    }
    .intro>h2{
        font-size: 40px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:#f0f3f3;
        padding: 10px;
        /* border: 1px solid orangered; */
        width: 70%;
        margin: auto;
    }

    .resume{
        /* border: 1px solid orangered; */
        padding: 4%;
        font-size: 18px;
        font-weight: bold;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        /* margin: auto; */
        background-color: #e2fbff;
        border-radius: 10px;
        border-radius: 5px;
        width: 31%;
        display: flex;
        justify-content: space-around;
        
    }

    .r{
        display: flex;
        justify-content: center;
        /* margin-top: 10%; */
        /* border: 1px solid orangered; */
        padding: -51px;
    }
    #rr{
        color: #4c4a4a;
        background-color: #e2fbff;
        height: 30px;
        padding: -10px;
        font-size: 15px;
        
    }

    .about{
        /* border: 1px solid wheat; */
        padding: 30px;
        color: #4c4a4a;
        font-family:sans-serif;
        width: 80%;
        font-size: small;
        margin-left: 11%;
        margin-top: 15%;
        /* text-align: center; */
        /* word-spacing: 5px; */
        /* line-height: 28px; */
    }
    #about{
        display: block;
        align-items: center; 
        /* justify-content: space-between; */
        /* border: 1px solid red; */
    }
    #gif{
        margin-top: 15%;
        /* height: 50%; */
        /* width: 60%; */
        /* border: 1px solid red; */
        border-radius: 5px;
        margin-left: 20%;
        /* margin-top: 15%; */
    }
    .project{
        /* border: 1px solid wheat; */
        display: block;
        width: 85%;
        margin: auto;
        padding: 30px;
        font-family:sans-serif;
    }
    .h1{
        /* color: white; */
        font-family:sans-serif;
        /* text-align: center; */
        padding: 20px;
        margin-top: 10%;
        margin-left: -50px;
        
    }
    .p1,.p2,.p3{
        margin-top: 20px;
        font-size: small;
    }
    .p1>div,.p2>div,.p3>div{
        /* border: 1px solid wheat; */
        display: grid;
        grid-template-columns: repeat(1,1fr);
       
    }
    .p1>div>a,.p2>div>a,.p3>div>a{
        text-decoration: none;
        color: black;
        background-color: #e2fbff;
        border-radius: 10px;
        padding: 8px;
        font-size: 15px;
        margin-top: 10px;
        width: 80%;
    }
    .p1>img,.p2>img,.p3>img{
        height: 100px;
        width: 180px;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    #ic{
        font-size: 20px;
        padding: 5px;
        color: #e2fbff;
    }

    #ic:hover::after{
        content: attr(data-hover);
        font-size: 11px;
        line-height: 10px;
        font-weight: normal;
        border-radius: 8px;
        background-color:#e2fbff;
        padding: 5px;
        color: black;
        border: 3px solid #e2fbff;
    }

    .skills{
        /* border: 1px solid wheat; */
        display: block;
        /* margin-top: 10px; */
        width: 60%;
        margin: auto;
        padding: 30px;
    
    }
    .skills>div{
        
        margin-top: 15px;
    }
    .skills>div>img{
        height: 70px;
        width: 75px;
    }

    .contact>div{
        display: flex;
        justify-content: space-between;
        /* width: 80%; */
        margin: auto;
        /* padding: 40px; */
    }

    .contact>div>a>i:hover{
        font-size: 50px;
        color: white;
    }

    .calendar>div>div{
        /* width: 60px; */
        border: 1px solid blue;
        overflow: hidden;
        
    }
    .calendar{
        border: 1px solid wheat;
        width: 70%;
    }

    .gitS{
        /* border: 1px solid red; */
        /* padding: 45px; */
        margin-top: 60px;
        width: 85%;
        margin: auto;
        font-size: medium;
    }
    .gitS>img{
        margin-top: 10%;
        margin-left: 10%;
        width: 100%;
    }
    .h4{
        font-size: large;
    }

}